

.correct_answer_was_chosen {
    color: lightgreen;
}

#my-text-area {
    display: inline-block;
    width: 700px;
}

.col-sm-4 {
background-color:#f1f1f1; position: absolute;  height:100%
}

#constant_top_left img {
  width:70px; height:70px; margin-right:6px; margin-bottom:4px;
}

#constant_top_left #project_name {
  display:inline-block;
  position:
  relative;top:10px;
}

#constant_top_left #t_d_experiment {
  margin-top:-9px;
  color:grey;
}



/* Message classes */
.success {
    color: lightgreen;
  }
  
  .warning {
    color: orange;
  }
  
  .error {
    color: red;
  }