

.correct_answer_was_chosen {
    color: lightgreen;
}

#my-text-area {
    display: inline-block;
    width: 700px;
}

.col-sm-4 {
background-color:#f1f1f1; position: absolute;  height:100%
}

#constant_top_left img {
  width:70px; height:70px; margin-right:6px; margin-bottom:4px;
}

#constant_top_left #project_name {
  display:inline-block;
  position:
  relative;top:10px;
}

#constant_top_left #t_d_experiment {
  margin-top:-9px;
  color:grey;
}

/* Set gray background color and 100% height */ 
.sidenav { background-color: #f1f1f1; height: 100%; } 
/* Set black background color, white text and some padding */ 
footer { background-color: #555; color: white; padding: 15px; } 
/* On small screens, set height to 'auto' for sidenav and grid */ 
@media screen and (max-width: 767px) 
{ 
.sidenav { height: auto; padding: 15px; } 
.row.content {height: auto;} 
}
 






/* Message classes */
.success {
    color: lightgreen;
  }
  
  .warning {
    color: orange;
  }
  
  .error {
    color: red;
  }