{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        bkLib.onDomLoaded(function() {
            nicEditors.editors.push(
                new nicEditor().panelInstance(
                    document.getElementById('area1')
                )
            );
        });
        //]]>
    </script>


    <script> 
    function show(){
        document.getElementById("container").style.display = "inline";
        document.getElementById("create_new_project").style.display = "none";
      } 
    function hide(){
        document.getElementById("container").style.display = "none";
        document.getElementById("create_new_project").style.display = "inline";
    }

    function new_pin_and_random_phrase() {
        document.getElementById("invalid_admin_pin").style.display = 'none';
        document.getElementById("invalid_random_phrase").style.display = 'none';


        pin_input = document.getElementById("id_project_admin_pin").value;
        random_phrase_input = document.getElementById("id_project_random_phrase").value;
        var all_admin_pins = JSON.parse('{{ all_admin_pins|safe }}') ;
        var all_random_phrases =  JSON.parse('{{all_random_phrases|safe }}');
        console.log (all_admin_pins.includes(pin_input));
        console.log (all_random_phrases.includes(random_phrase_input));
        if (all_admin_pins.includes(pin_input) || all_random_phrases.includes(random_phrase_input)) {
            if (all_admin_pins.includes(pin_input)){
                document.getElementById("invalid_admin_pin").style.display = 'inline';
            }
            if (all_random_phrases.includes(random_phrase_input)){
                document.getElementById("invalid_random_phrase").style.display = 'inline';
            }
            return false;
        }
        else {
            return true;
        }


    }
      
      </script>

    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_project_page_style.css' %}">

    </head>

    <body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <ul>
        <li id = 'invalid_admin_pin'> - Please use a different admin pin for security purposes </li>
    </ul>
    <ul>
        <li id = 'invalid_random_phrase'> - Please use a different random phrase for security purposes </li>
    </ul>

    <form method='GET' action = '/quest/admin_settings_info/{{current_admin.admin_ldap}}'>
        <button type='submit'>Admin's Settings/Info</button>
    </form>



    <div class='not_the_container'>
        <h1>Admin Project Control</h1>

        <p>Welcome Admin to the different Projects!</p>
        <br>
        <div id='create_new_project'>
        <button onclick="show();">Create New Project</button>
         </div>
        
    </div>

    <div id = "container">
        <br>
        <form onsubmit = "return new_pin_and_random_phrase();" method='POST' id = 'new_project_form' action = "/quest/add_new_project/{{current_admin.admin_ldap}}">
                {% csrf_token %}
                {{ project_form }}
                <br>
                Project Description: 

                <br>

                <div id = 'my-text-area'>
                    <textarea id="area1" name="project_description" form = 'new_project_form'></textarea>
                    <br>
                    <br>
                    <p>Teams (If you do not want your project to include teams, leave this section blank): </p>
                    <textarea id="teams" name="teams" form = 'new_project_form'></textarea>

                </div>
                <br>
                <input type=submit name="submit" value="Submit New Project" onclick="nicEditors.findEditor('area1').saveContent();">

        </form>

        <button id = 'hide' type= submit onclick="hide();"> Hide </button>
    </div>



    <div class= 'not_the_container'>
        {% for project in list_of_projects %}
        <br>
        {% if project.project_editable %}

        <form method='GET' action='/quest/admin_home_editable/{{current_admin.admin_ldap}}/{{project.id}}'>
            <button type='submit'>{{project.project_name}}</button>
            <div id='editable'>
                Editable
            </div>
        </form>


        {% else %}

        <form method='GET' action='/quest/admin_home_view_only/{{current_admin.admin_ldap}}/{{project.id}}'>
            <button type='submit'>{{project.project_name}}</button>
            <div id='not_editable'>
                    Not Editable
            </div>
        </form>

        {% endif %}

        {% endfor %}


        

        <br>
        <br>

        <form method = 'POST' action='/quest/join_project/{{current_admin.admin_ldap}}'>
            {% csrf_token %}
        <p>Want to become a secondary admin for someone else's project?
            Please be careful when editing!! If both admins are
            editing at the same time you may get some wonky results :(
        <p>
            Project Name: <input type = 'text' name= 'project_name'>
            Admin Pin: <input type = 'text' name= 'project_admin_pin'>

            <button type = 'submit'> Join Project </button>

        </form>
    <br>
    <br>
    <form method = 'GET' action = '/quest/admin_login'>
    <button type = 'submit'> Logout </button>
    </form>


        

</div>
    </body>
    
</html>
