{% extends 'quest_extension/admin_quest_page_base.html' %}
{% load static %}





{% block stylesheet_js %}
<link rel= "stylesheet" type="text/css" href="{% static 'quest_extension/admin_quest_page/admin_quest_page_editable_style.css' %}">

      
{% endblock %}

{% block admin_quest_settings %}
<form method='GET' action ='/quest/admin_quest_settings_editable/{{current_admin.admin_ldap}}/{{current_quest.id}}'> 
    {% csrf_token %}
    <button class = 'btn btn-default' style = 'margin:10px' type='submit'> Quest Settings (View Only) </button>
</form>
{% endblock %}




{% block forms_and_undo %}
    <form id = 'free_response' action='/quest/fr-create-form/{{current_admin.admin_ldap}}/{{current_quest.id}}' method = 'GET'></form>
    <form id = 'multiple_choice' action='/quest/mc-create-form/{{current_admin.admin_ldap}}/{{current_quest.id}}' method = 'GET'></form>
    <form id = 'undo_delete' method = 'POST' action = '/quest/undo_delete_question/{{current_admin.admin_ldap}}/{{current_quest.id}}'> {% csrf_token %} </form>
    <form id = 'api' method = 'GET' action = '/quest/api-create-form/{{current_admin.admin_ldap}}/{{current_quest.id}}'> {% csrf_token %}</form>
{% endblock %}





{% block fr_mc_undo_delete %}
<br>
<br>
    <button class = 'btn btn-warning' id = 'new_question_button' onclick = 'show_new_question();'>Create New Question</button>

    <div class= 'admin_buttons' id = 'new_question_form'>
        <h3 >Choose what kind of question you want to make!</h3>
        <button class = 'btn btn-warning' form = 'free_response' type = submit>Free Response</button>
        <button class = 'btn btn-warning'  form = 'multiple_choice' type = submit>Multiple Choice</button>
        <button class = 'btn btn-warning'  form = 'api' type = submit> API </button>
        <br>
        <br>
        <button class = 'btn btn-warning' form = 'undo_delete' type = submit name='undo' value='current_quest.id'> Undo Delete</button>
    </div>
{% endblock %}


{% block edit_deletequestion %}
    <div class= 'admin_buttons'>

        {% if question.question_type == 'FR' %}
        <form method= 'GET', action= '/quest/admin_edit_fr_question/{{current_admin.admin_ldap}}/{{ question.id }}'>
                {% csrf_token %}
                <button class = 'btn btn-warning' type='submit' name = 'edit' value = '{{question.id}}'>Edit</button>
        </form>
        {% endif %}

        {% if question.question_type == 'MC' %}
        <form method= 'GET', action= '/quest/admin_edit_mc_question/{{current_admin.admin_ldap}}/{{ question.id }}'>
                {% csrf_token %}
                <button class = 'btn btn-warning' type='submit' name = 'edit' value = '{{question.id}}'>Edit</button>
        </form>
        {% endif %}

        {% if question.question_type == 'API' %}
        <form method= 'GET', action= '/quest/admin_edit_api_question/{{current_admin.admin_ldap}}/{{ question.id }}'>
                {% csrf_token %}
                <button class = 'btn btn-warning' type='submit' name = 'edit' value = '{{question.id}}'>Edit</button>
        </form>
        {% endif %}


        <form style = 'margin-top: 5px;'' method= 'POST' action= '/quest/delete_question/{{current_admin.admin_ldap}}/{{current_quest.id}}'>
                {% csrf_token %}
                <button class = 'btn btn-warning' type='submit' name = 'deleted' value = '{{question.id}}'>Delete Question</button>
        </form>
    </div>
{% endblock %}


{% block back %}
    <form id='home' action = '/quest/admin_home_editable/{{current_admin.admin_ldap}}/{{current_project_id}}' method='GET'></form>
    <button class = 'btn btn-link' style = 'padding:0px' form = 'home' type = submit>Back</button>
{% endblock %}