{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        
        <title> Multiple Choice Question </title>
        
    </head>
    <body>

    <form method="POST" action= '/quest/create_mc_question/{{current_admin.admin_ldap}}/{{quest_id}}'>
        {% csrf_token %}
        {{ q_form }}

        </br>
        </br>
        <b>Input your "correct answers" here!</b>
        <br>
        <br>
        {{ ans_form }}
        </br>
        </br>
        <b>Input your "wrong answers" here!</b>
        </br>
        <br>
        {{ wrong_answer_form }}
        <input type="submit" value="Submit">
    </form>

    <form method= 'GET' action='/quest/admin_quest_page_editable/{{current_admin.admin_ldap}}/{{quest_id}}'>
        <button > Back </button>
    </form>

    </body>
</html>

