{% extends 'quest_extension/admin_home_base.html' %}
{% load static %}


{% block style_js %}
<link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_home/admin_home_view_only_style.css' %}">
{% endblock %}




{% block redirect_to_quest_page %}

    {% for quest in quests %}
        <br>
        <form method='GET' action='/quest/admin_quest_page_view_only/{{current_admin.admin_ldap}}/{{quest.id}}'>
            <button type='submit'>{{quest.quest_name}} ({{quest.quest_path_number }})</button>
        </form>

    {% endfor %}

{% endblock %}

