{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Forgot Password</title>
    <link rel= "stylesheet" type="text/css" href="{% static 'quest_extension/forgot_password/admin_forgot_password_style.css' %}">

</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method = 'POST' action = '/quest/admin_new_password_sent/{{ldap}}'>
        {% csrf_token %}
        {{ forgot_password_form }}
        <button type='submit'>Submit</button>
    </form>  

    <form method = 'POST' action=/quest/admin_change_password_request>
        {% csrf_token %}
        <button type='submit' name = ldap value = {{ldap}}> Resend a reset pin </button>
    </form>

    <form method = 'POST' action = '/quest/admin_go_back_to_login/{{ldap}}'>
        {% csrf_token %}
        <button type='submit'> Back </button>
    </form>
</body>
</html>