{% load static %}
<!DOCTYPE html>

    <head>
        
        <title> {{ current_quest.quest_name }} </title>
        
    </head>
    <body>

        <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_quest_page_style.css' %}">
        <h1> {{ current_quest.quest_name }} </h1>

        <div class="description">
            <h2>{{ current_quest.quest_description }}</h2>
        </div>  
        <br>
        <br>

        {% for question, answers in format.items %}
            <div class='question'>
                <p>{{ question.question_text }}</p>

            </div>
                {% if question.question_type ==  'FR' %}
                    {{ fr_input_form }}
                    <button type= 'submit'>Submit</button>
                {% endif %}

                {% if question.question_type == 'MC' %}
                    {% for a in answers %}
                        <input type="checkbox" name="mc__input" value="{{ a.answer_text }}">{{ a.answer_text }}<br>
                    {% endfor %}
                    <br>
                    <button type= 'submit'>Submit</button>
                {% endif %}

            
            <br>
            <br>
        {% endfor %}
        
        <form id ='free_response' action='/quest/fr-create-form/{{current_quest.quest_name}}' method = 'GET'></form>
        <form id ='multiple_choice' action='/quest/mc-create-form/{{current_quest.quest_name}}' method = 'GET'></form>
        <form id='home' action = '/quest/admin_home' method='GET'></form>
        
        <button form = 'home' type = submit>Home</button>

        <h3>Choose what kind of question you want to make!</h3>
        <button form = 'free_response' type = submit>Free Response</button>
        <button form = 'multiple_choice' type = submit>Multiple Choice</button>

    </body>
</html>