{% extends 'quest_extension/admin_project_settings_base.html' %}
{% load static %}

{% block stylesheet %}
<link rel= "stylesheet" type="text/css" href="{% static 'quest_extension/admin_project_settings/admin_project_settings_view_only_style.css' %}">
{% endblock %}

{% block teams %}
<strong> Teams: </strong> {{count_of_teams}} total 
  <ul>
{% for team in list_of_teams %}
  <li> {{ team.team_name }}</li>
  {% endfor %}
  </ul>
{% endblock %}


{% block remove_all_users %}
<p><strong>Remove All Users: </strong></p>
<form method = 'POST' action = '/quest/remove_all_users/{{current_admin.admin_ldap}}/{{current_project.id}}'>
  {% csrf_token %}
  <button  id = 'remove_all_users_button' style = 'margin-left: 40px' type= 'submit' onclick="return confirm('WARNING: If you remove all users, all data regarding their progress will be lost')"> Remove All Users </button>
</form>
<br>
<br>
{% endblock %}


{% block back %}

<form method = 'GET' action= '/quest/admin_home_view_only/{{current_admin.admin_ldap}}/{{current_project.id}}'>
    <button class = 'btn btn-link' style = 'padding:0px' type='submit'> Back </button>
</form>

{% endblock %}