{% extends 'quest_extension/admin_project_settings_base.html' %}
{% load static %}

{% block stylesheet %}
<link rel= "stylesheet" type="text/css" href="{% static 'quest_extension/admin_project_settings/admin_project_settings_editable_style.css' %}">

{% endblock %}


{% block teams %}
<strong> Teams: </strong> {{count_of_teams}} total 
  <ul>
{% for team in list_of_teams %}
  <li> {{ team.team_name }}</li>
  {% endfor %}
  </ul>

<!-- I'm using "update" even in the button and form names here just so that I
can use the js method from above -->
<button class='btn' style = 'background-color: #42bcf4; color:white; margin-left: 40px' id = 'update_add_team_button' onclick="update('add_team')"> Add another team </button>
    <form id = 'update_add_team_form' method='POST' action= '/quest/add_team/{{current_admin.admin_ldap}}/{{current_project.id}}'>
        {% csrf_token %}
        <label> Team to add: </label>
        <input class = 'form-control' type='text' name = 'add_team_name'>
        <button class = 'btn btn-success' style = 'margin-top: 15px; margin-bottom: 15px;'  type = 'submit'> Confirm Update </button>
    </form>
<br>
<br>
    <button class='btn' style = 'background-color: #42bcf4; color:white; margin-left: 40px'  id = 'update_delete_team_button' onclick="update('delete_team')"> Delete a Team </button>
    <form id = 'update_delete_team_form' method='POST' action= '/quest/delete_team/{{current_admin.admin_ldap}}/{{current_project.id}}'>
        {% csrf_token %}
        <lable> Team to delete: </lable>
        <select name="delete_team_name" required>
        {% for team in list_of_teams %}
        <option value="{{team.team_name}}"> {{team.team_name}} </option>
        {% endfor %}
        </select>

        <br>
        <button class = 'btn btn-success' style = 'margin-top: 15px; margin-bottom: 15px;' type = 'submit'> Confirm Update </button>
        
    </form>
<br>
<br>
{% endblock %}

{% block back %}

<form method = 'GET' action= '/quest/admin_home_editable/{{current_admin.admin_ldap}}/{{current_project.id}}'>
    <button class = 'btn btn-link' style = 'padding:0px' type='submit'> Back </button>
</form>

{% endblock %}