{% extends 'quest_extension/admin_home_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block style_js %}

<link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_home/admin_home_editable_style.css' %}">
<script src= "{% static 'quest_extension/admin_home/admin_home_editable_js.js' %}"></script>

{% endblock %}

{% block project_settings %}
<form method='GET' action ='/quest/admin_project_settings_editable/{{current_admin.admin_ldap}}/{{current_project.id}}'> 
    {% csrf_token %}
    <button class = 'btn btn-default' style = 'margin:10px' type='submit'> Project Settings (Editable) </button>
</form>
{% endblock %}




{% block quest_create_form %}
<div id = "new_quest" >
    <br>
    <form method='POST' id = 'new_quest_form' action = "/quest/save_new_quest/{{current_admin.admin_ldap}}/{{current_project.id}}">
            {% csrf_token %}
            {{ quest_form|crispy }}
            <br>
            <strong>Quest Description: </strong>

            <br>

            <div id = 'my-text-area'>
                <textarea id="area1" name="quest_description" form = 'new_quest_form'></textarea>
               
            </div>
            <br>
            <input class = 'btn btn-success' type=submit name="submit" value="Submit New Quest" onclick="nicEditors.findEditor('area1').saveContent();" style = 'margin-top: 15px' >
            <br>
            <br>

    </form>
</div>
<div id = new_quest_button>
    <button class='btn btn-warning'  onclick="show_new_quest();"> Add New Quest </button>
    <br>
    <br>
</div>
{% endblock %}



{% block redirect_to_quest_page %}


<div class= "hover13 imgContainer" style = 'display: inline-block; padding:10px'>
        <form method='GET'  action='/quest/admin_quest_page_editable/{{current_admin.admin_ldap}}/{{quest.id}}'>
        
        <button id = 'image_submit_{{quest.id}}' type='submit'>
            <div id = 'image_cropper'>
                <img id = 'cropped_image' src="{{quest.quest_picture_url}}" onerror = "show_plain_button_instead('{{quest.id}}')"/>
            </div> 
            {{quest.quest_name}} ({{quest.quest_path_number}})
        </button>


        <!-- This is what is shown if there is no picture associated with a quest -->
        <div id = 'button_submit_{{quest.id}}'>
            <button class = 'btn btn-default' style = 'margin-bottom:20px;'>
                {{quest.quest_name}} ({{quest.quest_path_number}})
            </button>
           
        </div>
        </form>
    </div> 

    
{% endblock %}
