{% extends 'quest_extension/login_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'quest_extension/login/admin_login_style.css' %}">

{% endblock %}


{% block login_welcome %}
Admin Login
{% endblock %}

{% block sign_up %}
<form method='GET' action='/quest/new_admin'>
    <button class = 'btn' style = 'background-color: #42bcf4; color:white; margin: 10px' type = 'submit'> Admin Sign Up! </button>
</form>
{% endblock %}


{% block login %}
<div id= 'container'>
        <form id='login' method='POST' action ='/quest/admin_login_to_account'>
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class='btn' style = 'background-color: #42bcf4; color:white' id = 'submit_login' type="submit">Login</button>
        </form> 
{% endblock %}

{% block change_password_request_form %}
    <form id='ldap_for_new_password' method='POST' action = '/quest/admin_change_password_request'>
    {% csrf_token %}
        Please type your LDAP below:
        <br>
        <br>
        <input type='text' name='ldap' class = 'form-control' placeholder = 'LDAP'>
        <button class = 'btn btn-success' style = 'margin-top: 15px' id = 'new_password_ldap' type="submit">Submit new password request</button>
    </form>
{% endblock %}

