{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Project Settings </title>
  {% block stylesheet %}
  {% endblock %}
  <script src = "{% static 'quest_extension/admin_project_settings/admin_project_settings_base_js.js' %}"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>


  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span>{{message}}</span>
    </div>
  {% endfor %}

  <div style = 'text-align: center'>
  <h1>Project Settings</h1>

    <p>Project Name: {{current_project.project_name}}</p>

    <br>

    <p>Random Phrase: {{current_project.project_random_phrase}}</p>
    <button id = 'update_random_phrase_button' onclick="update('random_phrase')"> Update Random Phrase</button>
    <form id = 'update_random_phrase_form' method='POST' action= '/quest/update_project_random_phrase/{{current_admin.admin_ldap}}/{{current_project.id}}'>
        {% csrf_token %}
        <input type='text' name = 'project_random_phrase' value = '{{current_project.project_random_phrase}}'>
        <button type = 'submit'> Confirm Update </button>
    </form>

    <p>Admin Pin: {{current_project.project_admin_pin}}</p>
    <button id = 'update_admin_pin_button' onclick="update('admin_pin')"> Update Admin Pin</button>
    <form id = 'update_admin_pin_form' method='POST' action= '/quest/update_project_admin_pin/{{current_admin.admin_ldap}}/{{current_project.id}}'>
        {% csrf_token %}
        <input type='text' name = 'project_admin_pin' value = '{{current_project.project_admin_pin}}'>
        <button type = 'submit'> Confirm Update </button>
    </form>
    <br>
    <br>
    <h3> Admins</h3>

    {% for admin in list_of_admins %} 
    <p> {{ admin.admin_first_name }} {{ admin.admin_last_name }}</p>
    {% endfor %}

    <form method = 'POST' action = '/quest/remove_as_admin/{{current_admin.admin_ldap}}/{{current_project.id}}'>
      {% csrf_token %}
        <button type = 'submit' onclick="return confirm('If you remove yourself as admin, you will need to regain access to edit/view this project as an admin')"> Remove yourself as Admin</button>
    </form>

    <br>

{% block teams %}
{% endblock %}


<form method = 'POST' action = '/quest/admin_archive_project/{{current_admin.admin_ldap}}/{{current_project.id}}'>
  {% csrf_token %}
  <button id = 'archive_project_button' type= 'submit' onclick="return confirm('You will still have full access' 
   + ' to this project once archived, it will simply no longer be displayed with your unarchived projects. If there are other admins of this project, it will not be archived for them as well.')"> Archive Project </button>
</form>

<br>
<br>

{% block remove_all_users %}
{% endblock %}

  <form method = 'POST' action = '/quest/delete_project/{{current_admin.admin_ldap}}/{{current_project.id}}'>
    {% csrf_token %}
    <button id = 'delete_project_button' type= 'submit' onclick="return confirm('WARNING: If you delete this project, all data will be lost regarding the project, and all admins and users will lose access!!! ')"> Delete Project </button>
</form>

  <br>
  <br>
<!-- make sure to differntiate between whether it is an editable or non_editable view -->
  
  {% block back %}
  {% endblock %}
</div>

</body>
</html>