{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_home_style.css' %}">

    </head>

    <body>
	<h1>Admin Project Control</h1>

	<p>Welcome Admin to the different Projects!</p>
         
    <form method='POST'>
    {% csrf_token %}
    {{ project_form }}
    <button type='submit' name= 'new_project'>Submit</button>
    </form>


    {% for project in list_of_projects %}
    <br>
    <form method='GET' action='/quest/admin_home/{{project.id}}'>
        <button type='submit'>{{project.project_name}}</button>
    </form>


    {% endfor %}
	
    </body>
    
</html>
