{% load static %}
<!DOCTYPE html>

    <head>
        
        <title> {{ current_quest.quest_name }} </title>
        
    </head>
    <body>
        <form id = 'free_response' action='/quest/fr-create-form/{{current_quest.id}}' method = 'GET'></form>
        <form id = 'multiple_choice' action='/quest/mc-create-form/{{current_quest.id}}' method = 'GET'></form>
        <form id = 'undo_delete' method = 'POST'> {% csrf_token %} </form>
        <link rel= "stylesheet" type="text/css" href="{% static 'quest_extension/admin_quest_page_style.css' %}">
        <h1> {{ current_quest.quest_name }} </h1>

        <div class="description">
            <h2>{{ current_quest.quest_description }}</h2>
        </div>  

        <h3>Choose what kind of question you want to make!</h3>
        <button form = 'free_response' type = submit>Free Response</button>
        <button form = 'multiple_choice' type = submit>Multiple Choice</button>
        <br>
        <br>
        <button form = 'undo_delete' type = submit name='undo' value='current_quest.id'> Undo Delete</button>
        <br>
        <br>

        {% for question, answers in format.items %}
            <div class='question'>
                <p>{{ question.question_text }}</p>

            </div>
                {% if question.question_type ==  'FR' %}
                    {{ fr_input_form }}
                    <button type= 'submit'>Submit</button>
                {% endif %}

                {% if question.question_type == 'MC' %}
                    {% for a in answers %}
                        <input type="checkbox" name="mc__input" value="{{ a.answer_text }}"> {{ a.answer_text }}<br>
                    {% endfor %}
                    <br>
                    <button type= 'submit'>Submit</button>
                {% endif %}
                <br>
                <a href= '/quest/admin_edit_question/{{ question.id }}'>(Edit)</a>
                <form method= 'POST'>
                        {% csrf_token %}
                        <button type='submit' name = 'deleted' value = '{{question.id}}'>Delete Question</button>
                </form>


            
            <br>
            <br>
        {% endfor %}
        
        
        <form id='home' action = '/quest/admin_home/{{current_project_id}}' method='GET'></form>
        
        <button form = 'home' type = submit>Home</button>

        

    </body>
</html>