{% extends 'quest_extension/admin_home_base.html' %}


{% block edit_description %}


<div id = 'edit-container'>

        <form method='POST' id = 'test_form' action = "/quest/admin_update_project_description/{{current_project.id}}">
                {% csrf_token %}
                Project Description: 
                <br>
                <div id = 'edit-my-text-area'>
                    <textarea id="area1" name="project_description" form = 'test_form'>
                        {{current_project.project_description}}
                    </textarea>
                </div>
            <br>
                <input type=submit name="submit" value="Update Project Description" onclick="nicEditors.findEditor('area1').saveContent();">
        </form>
</div>
<div id = 'edit_description_button'>
    <br>
    <button onclick="show();" >Edit Description</button>
</div>

{% endblock %}



{% block quest_create_form %}
    <form method='POST' action='/quest/save_new_quest/{{current_project.id}}'>
        {% csrf_token %}
        {{ quest_form }}
        <button type='submit' name= 'new_quest'>Submit</button>
    </form>
{% endblock %}

{% block redirect_to_quest_page %}

    {% for quest in quests %}
        <br>
        <form method='GET' action='/quest/admin_quest_page_editable/{{quest.id}}'>
            <button type='submit'>{{quest.quest_name}} ({{quest.quest_path_number }})</button>
        </form>


    {% endfor %}
    
{% endblock %}
