{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
	<title>Quest home</title>
    {% block style_js %}
    {% endblock %}

    <script> function show(){
            document.getElementById("edit_description_container").style.display = "inline";
            document.getElementById("edit_description_button").style.display = "none";
            document.getElementById("my-text-area").style.display = "none";
          } 
            function show_update_name(){
                document.getElementById("edit_name_container").style.display = "inline";
                document.getElementById('edit_name_button').style.display = 'none';
            }
    </script>
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>


</head>
    

    <body>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block project_settings %}
        {% endblock %}

        <form method = 'GET' action = '/quest/admin_project_info_page/{{current_admin.admin_ldap}}/{{current_project.id}}'>
            <button type = 'submit'> Project Info</button>
        </form>

    <div class='centered'>
        <h1>{{ current_project.project_name}}</h1>

        <div id = 'edit_name_button'>
                <button onclick="show_update_name();" id = 'edit_name_button'> Edit Name </button>
                </div>
                <div id = 'edit_name_container'>
                <form method = 'POST' action = '/quest/admin_update_project_name/{{current_admin.admin_ldap}}/{{current_project.id}}'> 
                    {% csrf_token %}
                    <input type ='text' name = 'project_name' value = '{{current_project.project_name}}'>
                    <button type = 'submit'> Update Project Name</button>
                </form>
                </div>
    </div>

    <div class='container'>
        <div id='my-text-area'>
            {{ current_project.project_description|safe }} 
         </div>
    </div>
    
    
    <div id = 'edit_description_container'>

            <form method='POST' id = 'test_form' action = "/quest/admin_update_project_description/{{current_admin.admin_ldap}}/{{current_project.id}}">
                    {% csrf_token %}
                    Project Description: 
                    <br>
                    <div id = 'edit-my-text-area'>
                        <textarea id="area1" name="project_description" form = 'test_form'>
                            {{current_project.project_description|safe}}
                        </textarea>
                    </div>
                <br>
                    <input type=submit name="submit" value="Update Project Description" onclick="nicEditors.findEditor('area1').saveContent();">
            </form>
    </div>
    <div id = 'edit_description_button'>
        <br>
        <button onclick="show();" >Edit Description</button>
    </div>
    
    <div class='centered'>
         {% if current_project.project_has_teams %}
        <br>
        <br>
        <p>Progress:<p>
        <br>
        {% for team_data in all_teams_and_points.items %}
        {{ team_data.0 }}: {{team_data.1.0}} / {{team_data.1.1}}
        <!-- team_data.0 = team name -->
        <!-- team_data.1.0 = accumulated points by users on this team -->
        <!-- team.data.1.1 = total possible points that can be earned by this team if everyone has 100% completion -->
        <br>
        <br>
        {% endfor %}
        {% endif %}
     
         



        <p>Welcome Admin to the Quests!</p>
        {% if current_project.project_has_teams %}
        <p> You are on the team ___!!!</p>
        {% endif %}
        <p>You have ___ points!</p>
            
        
        <div class = "wrapper">
            {% block quest_create_form %}
            {% endblock %}
        </div>
        
        {% block redirect_to_quest_page %}
        {% endblock %}


        
        <br>
        {% block back %}
        <a href= '/quest/admin_project_page/{{current_admin.admin_ldap}}'>Back to Projects Page</a>
        {% endblock %}

    </div>
    </body>
    
    
</html>
