{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
    


    <script> 
    function show(){
        document.getElementById("container").style.display = "inline";
        document.getElementById("create_new_project").style.display = "none";
      } 
    function hide(){
        document.getElementById("container").style.display = "none";
        document.getElementById("create_new_project").style.display = "inline";
    }
      
      </script>

    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_project_page_style.css' %}">

    </head>

    <body>



    <div class='not_the_container'>
        <h1>Admin Project Control</h1>

        <p>Welcome Admin to the different Projects!</p>
        <br>
        <div id='create_new_project'>
        <button onclick="show();">Create New Project</button>
         </div>
        
    </div>

    <div id = "container">
        <br>
        <form method='POST' id = 'test_form' action = "/quest/add_new_project/{{current_admin.admin_ldap}}">
                {% csrf_token %}
                {{ project_form }}
                <br>
                Project Description: 

                <br>

                <div id = 'my-text-area'>
                    <textarea id="area1" name="project_description" form = 'test_form'></textarea>
                </div>
                <br>
                <input type=submit name="submit" value="Submit New Project" onclick="nicEditors.findEditor('area1').saveContent();">
        </form>
        <button id = 'hide' type= submit onclick="hide();"> Hide </button>
    </div>



    <div class= 'not_the_container'>
        {% for project in list_of_projects %}
        <br>
        {% if project.project_editable %}

        <form method='GET' action='/quest/admin_home_editable/{{current_admin.admin_ldap}}/{{project.id}}'>
            <button type='submit'>{{project.project_name}}</button>
            <div id='editable'>
                Editable
            </div>
        </form>


        {% else %}

        <form method='GET' action='/quest/admin_home_view_only/{{current_admin.admin_ldap}}/{{project.id}}'>
            <button type='submit'>{{project.project_name}}</button>
            <div id='not_editable'>
                    Not Editable
            </div>
        </form>

        {% endif %}

        {% endfor %}

        <form method = 'POST' action='/quest/join_project/{{current_admin.admin_ldap}}'>
            {% csrf_token %}
        <p>Want to become admin for someone else's project?
            Please be careful when editing!! If both admins are
            editing at the same time you may get some wonky results :(
        <p>
            Admin Pin: <input type = 'text' name= 'project_admin_pin'>
            <button type = 'submit'> Join Project </button>

        </form>


        <br>
        <br>
        <form method = 'GET' action = '/quest/admin_login'>
        <button type = 'submit'> Logout </button>
        </form>

        <br>
        <br>

        

</div>
    </body>
    
</html>
