{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style_js %}
    {% endblock %}
    


    </head>
    

    <body>
    
        {% block project_settings %}
        {% endblock %}

    <div class='centered'>
        <h1>{{ current_project.project_name}}</h1>

        {% block edit_name %}
        {% endblock %}
    </div>

    <div class='not_centered'>
        <div id='my-text-area'>
            {{ current_project.project_description|safe }} 
         </div>

         <br>
         <br>
             Progress:
             {% for team_data in all_teams_and_points.items %}
             {{ team_data.0 }}: {{team_data.1.0}} / {{team_data.1.1}}
             <!-- team_data.0 = team name -->
             <!-- team_data.1.0 = accumulated points by users on this team -->
             <!-- team.data.1.1 = total possible points that can be earned by this team if everyone has 100% completion -->
             <br>
             {% endfor %}
     
    </div>
         {% block edit_description %}
         {% endblock %}
    


    <div class='centered'>

        <p>Welcome Admin to the Quests!</p>
        <p>You have ___ points!</p>
            
        
        <div class = "wrapper">
            {% block quest_create_form %}
            {% endblock %}
        </div>
        
        {% block redirect_to_quest_page %}
        {% endblock %}


        
        <br>
        {% block back %}
        <a href= '/quest/admin_project_page/{{current_admin.admin_ldap}}'>Back to Projects Page</a>
        {% endblock %}

    </div>
    </body>
    
    
</html>
