{% extends 'quest_extension/admin_home_base.html' %}
{% load static %}

{% block style_js %}
    <script>
        function show_new_quest(){
            document.getElementById("new_quest").style.display = "inline";
            document.getElementById('new_quest_button').style.display = 'none';
        }
    </script>

<link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_home/admin_home_editable_style.css' %}">

{% endblock %}

{% block project_settings %}
<form method='GET' action ='/quest/admin_project_settings_editable/{{current_admin.admin_ldap}}/{{current_project.id}}'> 
    {% csrf_token %}
    <button type='submit'> Project Settings </button>
</form>
{% endblock %}




{% block quest_create_form %}
<div id = "new_quest">
    <br>
    <form method='POST' id = 'new_quest_form' action = "/quest/save_new_quest/{{current_admin.admin_ldap}}/{{current_project.id}}">
            {% csrf_token %}
            {{ quest_form }}
            <br>
            Quest Description: 

            <br>

            <div id = 'my-text-area'>
                <textarea id="area1" name="quest_description" form = 'new_quest_form'></textarea>
               
            </div>
            <br>
            <input type=submit name="submit" value="Submit New Quest" onclick="nicEditors.findEditor('area1').saveContent();">
            <br>
            <br>

    </form>
</div>
<div id = new_quest_button>
    <button onclick="show_new_quest();"> Add New Quest </button>
    <br>
    <br>
</div>
{% endblock %}


{% block redirect_to_quest_page %}

        <br>
    <form  method='GET' action='/quest/admin_quest_page_editable/{{current_admin.admin_ldap}}/{{quest.id}}'>
        <button id = 'image_submit_{{quest.id}}' type='submit'>
        <div id = 'image_cropper'>
            <img id = 'img' src="{{quest.quest_picture_url}}" onerror = "show_plain_button_instead('{{quest.id}}')" />
        </div> 
        {{quest.quest_name}} ({{quest.quest_path_number}})
        </button>


        <button id = 'button_submit_{{quest.id}}'>{{quest.quest_name}} ({{quest.quest_path_number}})</button>

    </form>
    <br>

    
{% endblock %}


