{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        
        <title> Free Response Question </title>
        
    </head>
    <body>

    <form method="POST">
        {% csrf_token %}
        {{ question_text_form }}

        </br>
        </br>
        <b>Input your "correct answers" here!</b>
        <br>
        <br>
        {{ mc_correct_answer_form }}
        </br>
        </br>
        <b>Input your "wrong answers" here!</b>
        </br>
        <br>
        {{ mc_wrong_answer_form }}
        <input type="submit" value="Submit">
    </form>

    <form method= 'GET' action='/quest/admin_quest_page_editable/{{quest_id}}'>
        <button > Back </button>
    </form>

    </body>
</html>

