<!DOCTYPE html>

    <head>
        
        <title> {{ current_quest.quest_name }} </title>
    
              
        {% block stylesheet_js %}
        {% endblock %}

    <script>

        function show_update_name(){
            document.getElementById("edit_name_container").style.display = "inline";
            document.getElementById("edit_name_button").style.display = "none"
          }
    
        function show_edit_description(){
            document.getElementById("edit_description_container").style.display = "inline";
            document.getElementById("edit_description_button").style.display = "none";
            document.getElementById("my-text-area").style.display = "none";
            } 

        function show(){
            document.getElementById("video_form").style.display = "inline";
            document.getElementById("add_new_video").style.display = "none"
            } 
    
          </script>
          <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
          <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

    </head>
    <body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    {% block admin_quest_settings %}
    {% endblock %}

    <div class = 'centered'>
        {% block forms_and_undo %}
        {% endblock %}

        <h1> {{ current_quest.quest_name }} </h1>
        <div id = 'edit_name_button'>
            <button onclick="show_update_name();" id = 'edit_name_button'> Edit Name </button>
        </div>
        <div id = 'edit_name_container'>
            <form method = 'POST' action = '/quest/admin_update_quest_name/{{current_admin.admin_ldap}}/{{current_quest.id}}'> 
                {% csrf_token %}
                <input type ='text' name = 'quest_name' value = {{current_quest.quest_name}}>
                <button type = 'submit'> Update Quest Name</button>
            </form>
        </div>
   
    </div>
    <div class='container'>
        <div id='my-text-area'>
            <br>
            <html> {{ current_quest.quest_description|safe }} </html>
        </div>
    </div>
    <div id = 'edit_description_container'>

            <form method='POST' id = 'edit_description_form' action = "/quest/admin_update_quest_description/{{current_admin.admin_ldap}}/{{current_quest.id}}">
                    {% csrf_token %}
                    Quest Description: 
                    <br>
                    <div id = 'edit-my-text-area'>
                        <textarea id="area1" name="quest_description" form = 'edit_description_form'>
                            {{current_quest.quest_description}}
                        </textarea>
                    </div>
                <br>
                    <input type=submit name="submit" value="Update Quest Description" onclick="nicEditors.findEditor('area1').saveContent();">
            </form>
            <br>
    </div>
    <div id = 'edit_description_button'>
        <br>
        <button onclick="show_edit_description();">Edit Description</button>
    </div>


    <div class = 'centered'>
        <br>
        <br>
        <br>
        <br>
        {% for video in all_videos %}

                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/{{video.video_url}}" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
                
            <form method='POST' action = '/quest/delete_video/{{current_admin.admin_ldap}}/{{current_quest.id}}'>
                {% csrf_token %}
                <button type='submit' 
                    name = delete 
                    value = {{video.id}} 
                    onclick="return confirm('Are you sure you want to delete this video');">
                    Delete Video
                </button>
            </form>
            <br>
            <br>


        {% endfor %}

        <br>
        <br>
        <div id = 'add_new_video'>
                <button onclick="show();">Include Video</button>
            </div>
        
            <br>
        
            <div id = 'video_form'>
                <form method='POST' action= '/quest/save_video/{{current_admin.admin_ldap}}/{{current_quest.id}}'>
                    {% csrf_token %}
                    {{ video_form }}
                    <br>
                    <br>
                    <button type = submit>Attach Video</button>
                </form>
            </div>

        {% block fr_mc_undo_delete %}
        {% endblock %}

        <br>
        <br>

        {% for question, answers in format.items %}
            <div class='question'>
                <p>{{ question.question_text }}</p>

            </div>
                {% if question.question_type ==  'FR' %}
                    {{ fr_input_form }}
                    <button type= 'submit'>Submit</button>
                    <br>
                   
                {% endif %}

                {% if question.question_type == 'MC' %}
                    {% for a in answers %}
                        <input type="checkbox" name="mc_input" value="{{ a.answer_text }}"> {{ a.answer_text }}<br>
                    {% endfor %}
                    <br>
                    <button type= 'submit'>Submit</button>
                    
                {% endif %}

                {% if question.question_type == 'API' %}
                    <input name = 'answer_{{question.id}}' type = checkbox value = 'completed_task'> Completed Task! </button>
                {% endif %}
                <br>
                <br>

            {% block edit_deletequestion %}
            {% endblock %}
            

            <br>
            <br>
        {% endfor %}
        
        {% block home %}
        {% endblock %}

        
    </div>
         </body>
    </html>