{% load static %}

<!DOCTYPE html>

    <head>
	<title>Quest home</title>
    
    <script src="{% static 'quest_extension/admin_home/admin_home_base_js.js' %}"></script>   
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
    {% block style_js %}
    {% endblock %}
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
    function show_plain_button_instead(quest_id){

        $('#image_submit_' + quest_id).remove()
        $('#button_submit_'+ quest_id).show()
    }

    
    </script>

</head>



<body>
<div class="container-fluid" >
<div class = 'row content'>

    <div class="col-sm-4 sidenav">

        <div id = 'constant_top_left'>
            <img src="https://i.imgur.com/1533RUp.png">

            <div id = 'project_name' ><h4>{{current_project.project_name}}</h4>
                <p id = 't_d_experiment'><small>A Tushar Desai Experiment </small></p>
            </div>
        </div>


            {% if current_project.project_has_teams %}
            <br>
            <br>
            {% for team_data in all_teams_and_points.items %}
            <p><strong>{{ team_data.0 }}</strong> </p>
            <!-- {{team_data.1.0}} / {{team_data.1.1}} -->

            <div class="progress" style="height:40px; margin-bottom: 0px; margin-top: 10px">
                <div class="progress-bar progress-bar-striped progress-bar-info" role = 'progressbar'style="width:{{team_data.1.2}}%; font-size: 14px; line-height:40px; text-align: left;">
                    {% if team_data.1.0 > 0 %} 
                    <strong style = 'margin-left: 10px;'> {{team_data.1.2}}%</strong> <span style = 'font-size: 10px'>({{team_data.1.0}} points) </span>
                    {% endif %}
                </div>
            </div> 
            <br>


            <!-- team_data.0 = team name -->
            <!-- team_data.1.0 = accumulated points by users on this team -->
            <!-- team.data.1.1 = total possible points that can be earned by this team if everyone has 100% completion -->

            {% endfor %}
            {% endif %}

            <h4 style="margin-top:25px;">Recent Points Awarded</h4>

            {% for record in recently_awarded_points %}

            <!-- Record syntax = (+points team_name, user_name, quest_name) -->
            <h5>
                <span class="label label-success" >{{record.0}} </span>
                <strong> &nbsp; {{ record.1 }}</strong> passed the <strong>{{record.2}}</strong> quest!
            </h5>
            {% endfor %}

            <h4 style="margin-top:25px;">Individual Leaderboard</h4>

            {% for record in leaderboard %}

            <h5>
                <!-- I made this first Record = None if there are no teams in the project -->
            {% if record.0 != None %}
                <span class="label label-danger" >{{record.0}}</span>
                <strong> &nbsp; {{ record.1 }}</strong>  ({{record.2}} points)

            {% else %}
                <span class="label label-danger" >{{record.1}}</span>
                ({{record.2}} points)
            {% endif %}
            </h5>
            {% endfor %}
            <br>
            
    </div>
        
    <div class="col-sm-8" style = 'margin-bottom: 500px'>

            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <span>{{message}}</span>
            </div>
          {% endfor %}

    <div style = 'float:right'>
        <form  method = 'GET' action = '/quest/admin_project_info_page/{{current_admin.admin_ldap}}/{{current_project.id}}'>
            
            <button class = 'btn' style = 'margin:10px' type = 'submit'> Project Info</button>

        </form>
        
        {% block project_settings %}
        {% endblock %}
    </div>
    
        <h1>{{ current_project.project_name}}</h1>

        <div id = 'edit_name_button'>
            <button class='btn' style = 'background-color: #42bcf4; color:white' onclick="show_update_name();" id = 'edit_name_button'> Edit Name </button>
        </div>

        <div id = 'edit_name_container'>
            <form method = 'POST' action = '/quest/admin_update_project_name/{{current_admin.admin_ldap}}/{{current_project.id}}'> 
                {% csrf_token %}
                <strong>Project Name: </strong>
                <input class = 'form-control' type ='text' name = 'project_name' style = 'width:50%' value = '{{current_project.project_name}}'>
                <button class='btn btn-success' type = 'submit' style = 'margin-top: 15px'> Confirm Update </button>
            </form>
        </div>

        <hr>
        <!-- these two <br>s are here to make the admin home page most closely replicate that of the user home page -->

    <div class='container'>
            <div id='my-text-area'>
                {{ current_project.project_description|safe }} 
             </div>
        </div>
    
        <div id = 'edit_description_container'>
                <form method='POST' id = 'test_form' action = "/quest/admin_update_project_description/{{current_admin.admin_ldap}}/{{current_project.id}}">
                        {% csrf_token %}
                        <strong>Project Description: </strong>
                        <br>
                        <div id = 'edit-my-text-area'>
                            <textarea id="area1" name="project_description" form = 'test_form'>
                                {{current_project.project_description|safe}}
                            </textarea>
                        </div>
                    <br>
                        <input class = 'btn btn-success' type=submit name="submit" value="Confirm Update" onclick="nicEditors.findEditor('area1').saveContent();" style = 'margin-top: 15px'>
                </form>
        </div>
        <div id = 'edit_description_button'>
            <br>
            <button class='btn' style = 'background-color: #42bcf4; color:white' onclick="show();" >Edit Description</button>
        </div>

  
    <br>
    <p>Welcome <strong>___</strong> to <strong>{{current_project.project_name}}</strong>!</p>
    <!-- If you are a part of a team... -->
    {% if current_project.project_has_teams %}
        <p>Your are on the team <strong style = 'color: #42bcf4'>___</strong>!</p>
    {% endif %}

    <p>You have <strong style = 'color:#5cb85c'>___ points!</strong></p>

   

    <div style="float:left;margin-top:25px; width:100%; ">
            <h4><small>YOUR QUESTS</small></h4>

    <div class = "wrapper" style = 'width:50%'>
        {% block quest_create_form %}
        {% endblock %}
    </div>



    <div id = 'edit_picture_container'>
            <form method='POST' id = 'test_form' action = "/quest/admin_update_quest_picture/{{current_admin.admin_ldap}}/{{current_project.id}}">
                    {% csrf_token %}
                    <br>
                    <strong>New URL:</strong> <input class = 'form-control' type = 'text' name = 'new_picture_url' required>
                    <br>
                    <strong>Quest Path Number:</strong> <input class = 'form-control' type = 'number' name = 'quest_path_number' style = 'width:50%' required>

                    <button class='btn btn-success' type = 'submit' style = 'margin-top: 15px'> Confirm Update </button>
                </form>
    
        </div>
            <button class='btn' id = 'edit_picture_button' style = 'background-color: #42bcf4; color:white' onclick="show_update_picture();"> Update Quest Picture</button>
       
            
      <hr>
      </div>
      
    {% for quest in quests %}

    {% block redirect_to_quest_page %}

    {% endblock %}
      

    
    {% endfor %}

    
    <br>
    <br>
    <br>
    {% block back %}
    <a href= '/quest/admin_project_page/{{current_admin.admin_ldap}}'>Back to Projects Page</a>
    {% endblock %}
    
    
    </div>
    </div>
    </div>  

    <footer class = 'container-fluid'>
   
    </footer>



<!-- Script that will automatically make the sidebar and main content height the same -->
    <script>
        var height_of_main = $('.col-sm-8').outerHeight(true)
        var height_of_side_bar = $('.col-sm-4.sidenav').outerHeight(true)
        console.log(height_of_main)
        console.log(height_of_side_bar)

       

        if (height_of_main > height_of_side_bar) {
            $('.col-sm-4.sidenav').height((height_of_main) + 60)
        }

        else {
            $('.col-sm-8').height((height_of_side_bar) + 60)
            
            $('.col-sm-8').css('margin-bottom', '0px');


            }

            console.log($('.col-sm-8').outerHeight(true))
            console.log($('.col-sm-4.sidenav').outerHeight(true))
            </script>
    </body>
    
</html>
