{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_home_style.css' %}">

    </head>

    <body>
        
    <h1>{{ current_project.project_name}}</h1>
    <p> {{ current_project.project_description }}</p>

	<p>Welcome Admin to the Quests!</p>
    <p>You have ___ points!</p>
        
    <!-- <form id='back_to_projects' action = '/quest/admin_project_page' method='GET'></form>
        
    <button form = 'back_to_projects' type = submit>Back to Projects Page</button> -->

    <br>
    <br>
         
    <form method='POST'>
    {% csrf_token %}
    {{ quest_form }}
    <button type='submit' name= 'new_quest'>Submit</button>
    </form>


    {% for quest in quests %}
    <br>
    <form method='GET' action='/quest/admin_quest_page/{{quest.id}}'>
        <button type='submit'>{{quest.quest_name}} ({{quest.quest_path_number }})</button>
    </form>


    {% endfor %}
    <br>
    <a href= '/quest/admin_project_page'>Back to Projects Page</a>

    </body>
    
</html>
