{% load static %}
<!DOCTYPE html>
<html>
<head>

   
    
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/settings_info/admin_settings_info_style.css' %}">

    <script> function update(info){
            document.getElementById("update_" + info + "_button").style.display = "none";
            document.getElementById("update_" + info + "_form").style.display = "inline"
          } 
    
          
        </script>
    
    <title> Admin Settings/Info </title>
    
</head>


<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    
    <p>LDAP: {{current_admin.admin_ldap}}</p>
    <button id = 'update_ldap_button' onclick="update('ldap')"> Update LDAP</button>
    <form id = 'update_ldap_form' method='POST' action= '/quest/update_admin_ldap/{{current_admin.admin_ldap}}'>
        {% csrf_token %}
        <input type='text' name = 'admin_ldap' value = '{{current_admin.admin_ldap}}'>
        <button type = 'submit'> Confirm Update </button>
    </form>

    <p> First Name:  {{current_admin.admin_first_name }} </p>
    <button id = 'update_first_name_button' onclick="update('first_name')"> Update First Name</button>
    <form id = 'update_first_name_form' method='POST' action= '/quest/update_admin_first_name/{{current_admin.admin_ldap}}'>
        {% csrf_token %}
        <input type='text' name = 'admin_first_name' value = '{{current_admin.admin_first_name}}'>
        <button type = 'submit'> Confirm Update </button>
    </form>

    <p> Last Name: {{current_admin.admin_last_name}} </p>
    <button id = 'update_last_name_button' onclick="update('last_name')"> Update Last Name</button>
    <form id = 'update_last_name_form' method='POST' action= '/quest/update_admin_last_name/{{current_admin.admin_ldap}}'>
        {% csrf_token %}
        <input type='text' name = 'admin_last_name' value = '{{current_admin.admin_last_name}}'>
        <button type = 'submit'> Confirm Update </button>
    </form>

    <p> Email Address: </h3> {{current_admin.admin_email}} </p>
    <button id = 'update_email_button' onclick="update('email')"> Update Email</button>
    <form id = 'update_email_form' method='POST' action= '/quest/update_admin_email/{{current_admin.admin_ldap}}'>
        {% csrf_token %}
        <input type='text' name = 'admin_email' value = '{{current_admin.admin_email}}'>
        <button type = 'submit'> Confirm Update </button>
    </form>

    
    <br>
    <br>


    <button id = 'update_password_button' onclick="update('password')"> Update Password</button>

    <form id = 'update_password_form' method='POST' action= '/quest/update_admin_password/{{current_admin.admin_ldap}}'>
        {% csrf_token %}
        <label> Current Password:</label>
        <input type='password' name = 'current_password'  autocomplete="new-password" >
        
        <label> New Password: </label>
        <input type='password' name = 'new_password' autocomplete="new-password">
    
        <label> Retype New Password: </label>
        <input type='password' name = 'retyped_password' autocomplete= "new-password" >

        <button type = 'submit'> Confirm Update </button>
    </form>

    <br>
    <br>
    
    <form method = 'GET' action = '/quest/admin_project_page/{{current_admin.admin_ldap}}'>
        <button type='submit'> Back </button>
    </form>


    
</body>
</html>

