{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Forgot Password</title>

    {% block stylesheet_js %}
    {% endblock %}
    <script src= "{% static 'quest_extension/forgot_password/forgot_password_base_js.js' %} "></script>
    
</head>
<body>

    {% block new_password_sent %}
    {% endblock %}

    {% block resend_pin %}
    {% endblock %}

    {% block back %}
    {% endblock %}

    <br>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <ul>
        <li id = 'low'> - Please include a lowercase letter </li>
    </ul>
    <ul>
        <li id = 'up'> - Please include an uppercase letter </li>
    </ul>
    <ul>
        <li id = 'num'> - Please include a number </li>
    </ul>
    <ul>
        <li id = 'char'>- Please make sure that your password is at least 8 characters long</li>
    </ul>

    <ul>
        <li id = 'same'>- Please make sure that your passwords match</li>
    </ul>


</body>
</html>