<!DOCTYPE html>
<html>
<head>
    <title> Forgot Password</title>

    {% block stylesheet_js %}
    {% endblock %}

    <script>

function validate_password() {
    console.log('I am here')
    document.getElementById('low').style.display = 'none'; 
    document.getElementById('up').style.display = 'none'; 
    document.getElementById('num').style.display = 'none'; 
    document.getElementById('char').style.display = 'none'; 
    document.getElementById('same').style.display = 'none'; 


    password = document.getElementById("id_new_password").value
    retyped_password = document.getElementById("id_retype_new_password").value
    var count = 0;

    if (password == retyped_password) { 
        count += 1;
    }

    else {
        document.getElementById('same').style.display = 'inline'; 
    }

    if (/[a-z]/.test(password)) { 
        count += 1;
    }

    else {
        document.getElementById('low').style.display = 'inline'; 
    }
    
    if (/[A-Z]/.test(password)) {
        count += 1;
        } 

    else {
        document.getElementById('up').style.display = 'inline';
    }
    
    if (/\d/.test(password)) {
        count += 1;
    }   
    else {
        document.getElementById('num').style.display = 'inline';
    }

    if (password.length >= 8) { 
        count += 1
    }
    else {
        document.getElementById('char').style.display = 'inline';
    }

    return (count == 5)

    
    }
    </script>
</head>
<body>

    {% block new_password_sent %}
    {% endblock %}

    {% block resend_pin %}
    {% endblock %}

    {% block back %}
    {% endblock %}


    <br>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <ul>
        <li id = 'low'> - Please include a lowercase letter </li>
    </ul>
    <ul>
        <li id = 'up'> - Please include an uppercase letter </li>
    </ul>
    <ul>
        <li id = 'num'> - Please include a number </li>
    </ul>
    <ul>
        <li id = 'char'>- Please make sure that your password is at least 8 characters long</li>
    </ul>

    <ul>
        <li id = 'same'>- Please make sure that your passwords match</li>
    </ul>


</body>
</html>