{% load static %}
<!DOCTYPE html>
<html>
<head>
    <Title> Login </Title>

    <script> function show(){
        document.getElementById("ldap_for_new_password").style.display = "inline";

    }
    </script>
    {% block stylesheet %}
    {% endblock %}


</head>

<body>

    {% block login_welcome %}
    {% endblock %}
    
    {% block sign_up %}
    {% endblock %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    <br>
    <br>
    <br>

    {% block login %}
    {% endblock %}
    

        <button id = 'forgot_password' type='submit' onclick = "show();">Forgot Password</button>
            {% block change_password_request_form %}
            {% endblock %}
            

    </div>
</body>
</html>