{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title> New Account </title>
   
   {% block stylesheet_js %}
   {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</head>
<body>

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <span>{{message}}</span>
    </div>
    {% endfor %}

<div id = 'low' class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span>Please include a lowercase letter</span>
</div>

<div id = 'up' class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span>Please include an uppercase letter</span>
</div>

<div id = 'num' class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span>Please include a number</span>
</div>

<div id = 'char' class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span>Please make sure that your password is at least 8 characters long</span>
</div>

<div id = 'same' class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span>Please make sure that your passwords match</span>
</div>

<div id = 'email' class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <span>Please make sure that your email is valid</span>
</div>


    {% block new_account_welcome %}
    New Admin Signup!
    {% endblock %}

    {% block login %}
    {% endblock %}
    <br>
    <br>
    <ul>
        <li id = 'low'> -  </li>
    </ul>
    <ul>
        <li id = 'up'> -  </li>
    </ul>
    <ul>
        <li id = 'num'> - Please include a number </li>
    </ul>
    <ul>
        <li id = 'char'>- </li>
    </ul>

    <ul>
        <li id = 'same'>- </li>
    </ul>

    <ul>
        <li id = 'email'>-  </li>
    </ul>
               

    <br>
    <br>
    <br>

    <div id = 'container'>
        
        <!-- "account_form" has the beginning of the form -->
            {% block account_form %}
            {% endblock %}
        
    </div>  

   
</body>
</html>