{% extends 'quest_extension/new_account_base.html' %}
{% load static %}

{% block new_account_welcome %}
<h1>New Admin Signup!</h1>
{% endblock %}

{% block stylesheet_js %}
<link rel="stylesheet" type="text/css" href="{% static 'quest_extension/new_account/new_admin_style.css' %}">


<script>
function validate_password() {
        document.getElementById('low').style.display = 'none'; 
        document.getElementById('up').style.display = 'none'; 
        document.getElementById('num').style.display = 'none'; 
        document.getElementById('char').style.display = 'none'; 
        document.getElementById('same').style.display = 'none'; 
        document.getElementById('email').style.display = 'none'; 


        email = document.getElementById("id_admin_email").value
        var email_re = /^\S+@\S+$/;

        password = document.getElementById("id_admin_password").value
        retyped_password = document.getElementById("retyped_password").value
        var count = 0;

        if (email_re.test(String(email).toLowerCase())) {
            count += 1;
        }

        else {
            document.getElementById('email').style.display = 'inline'
        }

        if (password == retyped_password) { 
            count += 1;
        }

        else {
            document.getElementById('same').style.display = 'inline'; 
        }

        if (/[a-z]/.test(password)) { 
            count += 1;
        }

        else {
            document.getElementById('low').style.display = 'inline'; 
        }
        
        if (/[A-Z]/.test(password)) {
            count += 1;
            } 

        else {
            document.getElementById('up').style.display = 'inline';
        }
        
        if (/\d/.test(password)) {
            count += 1;
        }   
        else {
            document.getElementById('num').style.display = 'inline';
        }

        if (password.length >= 8) { 
            count += 1
        }
        else {
            document.getElementById('char').style.display = 'inline';
        }
        return (count == 6)
    
    
    }</script>
{% endblock %}

{% block login %}
<form method='GET' action='/quest/admin_login'>
    <button type = 'submit'> Login </button>
</form>
{% endblock %}


{% block account_form %}
<form method='POST' id = 'admin_form' action = '/quest/add_new_admin' onsubmit = "return validate_password();">
    {% csrf_token %}
    {{ admin_form }}
    <label for="retyped_password">Retype Password:</label>
    <input id = "retyped_password" type="password" name="retyped_password" maxlength="200" >
    <button form = 'admin_form' type= 'submit'> Submit </button> 
</form>
{% endblock %}