{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/new_user_style.css' %}">
   <title> New User </title>
</head>
<body>
    
    <form method='GET' action='/quest/user_login'>
        <button type = 'submit'> Login </button>
    </form>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    <br>
    <br>
    <br>
    <div id = 'container'>
        <form method='POST' id = 'user_form' action = '/quest/add_new_user'>
            {% csrf_token %}
            {{ user_form }}
            <label for="retyped_password">Retype Password:</label>
            <input type="password" name="retyped_password" maxlength="200" >
            <button form = 'user_form' type= 'submit'> Submit </button> 
        </form>
    </div>  

   
</body>
</html>