{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <script>
    function canMoveForward(quest_path_clicked){
        var current_quest_num = "{{ current_user_project_object.current_quest.quest_path_number }}";
        return (current_quest_num >= parseInt(quest_path_clicked));
        
    }
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/user_home_style.css' %}">

    </head>

    <body>

    <form method = 'GET' action = '/quest/user_project_settings/{{ user.user_ldap }}/{{ current_project.id }}'>
        
        <button type = 'submit'> Project Settings</button>

    </form>

    <div class = centered>
        <h1>{{ current_project.project_name}}</h1>
        <!-- these two <br>s are here to make the admin home page most closely replicate that of the user home page -->
    </div>

    <div class='container'>
            <div id='my-text-area'>
                {{ current_project.project_description|safe }} 
             </div>
        </div>

    <!--format = teamname -> (current points earned by team, total points that can be earned by team)-->
  
    <div class = centered>
        {% if current_project.project_has_teams %}
        <br>
        <br>
        <p>Progress:<p>
        {% for team_data in all_teams_and_points.items %}
        {{ team_data.0 }}: {{team_data.1.0}} / {{team_data.1.1}}
        <!-- team_data.0 = team name -->
        <!-- team_data.1.0 = accumulated points by users on this team -->
        <!-- team.data.1.1 = total possible points that can be earned by this team if everyone has 100% completion -->
        <br>
        <br>
        <br>
        {% endfor %}
        {% endif %}

    

    <p>Welcome {{ user.user_first_name }} to the Quests!</p>
    <!-- If you are a part of a team... -->
    {% if current_user_project_team != None %}
        <p>Your are on the team {{current_user_project_team.team_name}}!!!</p>
    {% endif %}
    <p>You have {{ current_user_project_object.points }} points!</p>
         

    {% for quest in quests %}
    <br>
        
    <form method='GET' onsubmit='return canMoveForward( "{{quest.quest_path_number }}" );'  action='/quest/user_quest_page/{{user.user_ldap}}/{{quest.id}}'>
        <button  type='submit' name= 'quest_path_number' value = '{{ quest.quest_path_number }}'>{{quest.quest_name}}</button>
    </form>

    {% endfor %}
    <br>
    <a href = '/quest/user_project_page/{{user.user_ldap}}'>Back to Project Page</a>
    </div>
    </body>
    
</html>
