{% load static %}
<!DOCTYPE html>

    <head>
        
        <title> {{ current_quest.quest_name }} </title>
        <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/user_quest_page_style.css' %}">
        <script> 

        function validate_fr_answer(question_id){
            var question_to_answers = "{{ question_to_answers|escapejs }}";
            var user_answer = document.getElementById('id_answer').value;
            var question_to_answers_json = JSON.parse(question_to_answers);
            console.log(question_to_answers_json)
            var answer_to_this_question = question_to_answers_json[question_id]
                if (user_answer == answer_to_this_question) {
                    document.getElementById('correct_' + question_id).style.display = 'inline'
                    document.getElementById('wrong_' + question_id).style.display = 'none'

                }
                else {
                    document.getElementById('wrong_' + question_id).style.display = 'inline'
                    document.getElementById('correct_' + question_id).style.display = 'none'

                }

            return false;
        }
        
        function validate_mc_answer(){
            var question_to_answers = "{{ question_to_answers|escapejs }}";
            var answer = document.getElementById("mc_answer").value;
            console.log(JSON.parse(question_to_answers));
            console.log(answer);
            return false;
        }


        </script>
    </head>
    <body>

        <div class = centered>
            <h1> {{ current_quest.quest_name }} </h1>
        <br>
        </div>    

        
        <div class='container'>
                <div id='my-text-area'>
                    {{ current_quest.quest_description|safe }} 
                 </div>
            </div>

        <div class = centered>
        <br>
        <br>
        <br>
        <br>

        
        {% for video in all_videos %}

            {% if video.video_type == 'Youtube' %}
                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/{{video.video_url}}" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            {% endif %}
            <br>
            <br>
        {% endfor %}

        <br>
        <br>
        <br>
        <br>
        
        {% for question, answers, correct_answers in format_2 %}
            <div class='question'>
                <p>{{ question.question_text }}</p>

            </div>
                {% if question.question_type ==  'FR' %}


                    {% if question.id not in have_correct_answer %}
                         <form method = "POST" onsubmit = "return validate_fr_answer('{{question.id}}')" action = '/quest/validate_fr_question_response/{{ldap}}/{{current_quest.id}}'>
                            {% csrf_token %}
                            {{ fr_input_form }}
                             <button type= 'submit' name='FR_response_id' value = '{{ question.id }}'>Submit</button>
                        </form>

                        <p id = 'wrong_{{question.id}}' style = "display: none; color: red"> Sorry that's wrong, please try again! </p>
                        <p id = 'correct_{{question.id}}' style = "display: none; color: green"> You are correct! </p>

                        
                    {%for message in messages %}
                            {%if question.id|slugify in message.tags %}
                            <p> {{message}} </p>   
                        {%endif%}
                    {%endfor%}

                    {% endif %}

                    <p style = "display: none"> You are wrong!! </p>


                    {% if question.id in have_correct_answer %}
                    <div class= 'correct_answer_was_chosen'>
                        Answer: 
                        {% for answer in correct_answers %} 
                            {{ answer.answer_text }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    

                {% endif %}

                {% if question.question_type == 'MC' %}
                     {% if question.id not in have_correct_answer %}

                        <form method = "POST" onsubmit = "return validate_mc_answer()" action = '/quest/validate_mc_question_response/{{ldap}}/{{current_quest.id}}'>
                            {% csrf_token %}
                            {% for a in answers %}
                            <!-- Make both incorrect and correct answers have the same filed called answer_text so that it can easily be passed as a value -->
                                <input type="checkbox" id= "mc_answer" name= "answer" value="{{ a.answer_text }}">{{ a.answer_text }}<br>
                            {% endfor %}
                            <br>
                            <button type= 'submit' name= 'MC_response_id' value= '{{ question.id }}'>Submit</button>
                        </form>
                        
                        {%for message in messages %}
                            {%if question.id|slugify in message.tags %}
                            <p> {{message}} </p>   
                        {%endif%}
                    {%endfor%}
                        
                    {% endif %}
                        
                    {% if question.id in have_correct_answer %}
                        <div class= 'correct_answer_was_chosen' >
                            Answer: 
                            {% for answer in correct_answers %} 
                                {{ answer.answer_text }}
                            {% endfor %}
                        </div>
                    {% endif %}
    
                {% endif %}

            <br>
            <br>
            <br>
            <br>
        {% endfor %}
        
        <form id='home' action = '/quest/user_home/{{ ldap }}/{{current_project_id}}' method='GET'></form>
        
        <button form = 'home' type = submit>Home</button>
    </div>
    </body>
</html>