
{% load static %}
<!doctype html>
<html lang="en">
  <head>
   

    <title>Project Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/user_project_page_style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    function show_join_project_user(){
        document.getElementById("join_or_unarchive").style.display = "none";
        document.getElementById("join_project").style.display = "inline"
      } 

      
    </script>
    
  </head>

  <body>

  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span>{{message}}</span>
    </div>
  {% endfor %}


    <header>
      

      <div class="navbar navbar-dark bg-dark box-shadow">
        <form method='GET' action = '/quest/user_settings_info/{{current_user.user_ldap}}'>
            <button class = 'btn' type='submit'>User's Settings/Info</button>
        </form>

        <form method='POST' action = '/quest/user_logout/{{ current_user.user_ldap}}'>
                {% csrf_token%}
                <button class = 'btn' type = 'submit', name = 'logout'>Logout</button>
            </form>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center" style = 'background-color: white'>

    <div class="container">

    <h1 class="jumbotron-heading"  style = 'display:inline;'> 
        
         <img class = 'imageWithText' style="width:50px; height:50px; margin-right:6px; margin-bottom:4px;" src = 'https://i.imgur.com/1533RUp.png'>
            User Project Terminal
    
    
    </h1>
    <p class="jumbotron-heading2">Welcome <strong style = 'color:#42bcf4'>{{ current_user.user_first_name }}</strong> to your different Projects!</p>
        
    </div>
    </section>

      <div class="album py-5 bg-light">
        <div class="container">

            <div id = 'join_or_unarchive' style = 'text-align: center;'>
            <button class = 'btn' style = 'background-color:#42bcf4; color: white' onclick = 'show_join_project_user()'> Join or Unarchive Project?</button>
            </div>
            

            <div id = 'join_project' style = 'text-align: center; display:none;'>
                
                <form  method = 'POST' action = '/quest/user_unarchive_project/{{current_user.user_ldap}}'>
                    {% csrf_token %}
                    Unarchive a previous project:
            
                    <select name="project_to_unarchive_id" required>
                        {% for project in list_of_archived_projects %}
                            <option value="{{project.id}}"> {{project.project_name}} </option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class = 'btn btn-primary my-2' style = 'font-size: 10px; line-height: 7px'  type = 'submit'> Unarchive </button>
                </form>
                
                <br>
                <br>

                <p> Want to join another project? Type in the <strong>Random Phrase</strong> for the project, your <strong>Team name</strong> if 
                        there is one, click add, 
                        and your in!
                    </p>
            
            
                    <form id = 'add_new_project' method='POST' action = '/quest/add_user_project_page/{{ current_user.user_ldap }}'>
                        {% csrf_token %}
                        {{ add_new_project_form }}
                        Team: <input type = 'text', name = 'team'>
                        <br>
                        <button class = 'btn btn-primary my-2' style = 'font-size: 10px; line-height: 7px' type ='submit' name = 'project_id' value = '{{project.id}}'>Join</button>
            
                    </form>
            </div>
                <br>
                <br>

          <div class="row">

            {% for project in user_projects %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!-- <img class="card-img-top" style = "height:100%; width:100%;" src="https://i.imgur.com/1533RUp.png" alt="Card image cap"> -->
                <div class="card-body">
                  <p style = 'margin:0'>
                    <strong style = 'color: #42bcf4; font-size: 20px '>{{project.project_name}}</strong>
                </p>

                  <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group">
                        <form method='GET', action = '/quest/user_home/{{ current_user.user_ldap }}/{{ project.id }}'>
                           <br>
                           <br>
                           <br>
                           <br>
                          <div id= 'project_button'>
                                <button class ='btn btn-success' type='submit'>Explore</button>
                            </div>
                        </form>
                    </div>

                    <div class="c100 p25 green" style = 'margin-bottom: -1%; margin-top:5%; margin-right:10%;'>
                        <span>25%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    


                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        
      </div>
    </footer>

   
  </body>
</html>
