{% load static %}
<!DOCTYPE html>

    <head>
        
        <title> {{ current_quest.quest_name }} </title>
        <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/user_quest_page_style.css' %}">
        <script> 

        function validate_fr_answer(question_id){
            var q_to_a = "{{ question_to_answers|escapejs }}";
            var user_answer = document.getElementById('input_'+ question_id).value.trim();
            var q_to_a_json = JSON.parse(q_to_a);
            console.log (user_answer)
            console.log (question_id)
            var answer_to_this_question = q_to_a_json[question_id]
                if (user_answer == answer_to_this_question) {
                    document.getElementById('correct_' + question_id).style.display = 'inline'
                    document.getElementById('wrong_' + question_id).style.display = 'none'

                }
                else {
                    document.getElementById('wrong_' + question_id).style.display = 'inline'
                    document.getElementById('correct_' + question_id).style.display = 'none'

                }

            return false;
        }
        
        function validate_mc_answer(question_id){
            var q_to_a = "{{ question_to_answers|escapejs }}";
            var q_to_a_json = JSON.parse(q_to_a);
            var answer_to_this_question = q_to_a_json[question_id]
            
            
            var user_input= document.querySelectorAll('.input_' + question_id)
            checked_list = []
            for (var i=0;i<user_input.length;i++){
                if (user_input[i].checked) {
                    checked_list.push(user_input[i].value.trim())
                }
            }  
            

            user_answer = checked_list.sort().toString()
            answer_to_this_question = answer_to_this_question.sort().toString()

            if (user_answer == answer_to_this_question) {
                    document.getElementById('correct_' + question_id).style.display = 'inline'
                    document.getElementById('wrong_' + question_id).style.display = 'none'

                }
                else {
                    document.getElementById('wrong_' + question_id).style.display = 'inline'
                    document.getElementById('correct_' + question_id).style.display = 'none'

                }

            return false;
        }
        


        </script>
    </head>
    <body>

        <div class = centered>
            <h1> {{ current_quest.quest_name }} </h1>
        <br>
        </div>    

        
        <div class='container'>
                <div id='my-text-area'>
                    {{ current_quest.quest_description|safe }} 
                 </div>
            </div>

        <div class = centered>
        <br>
        <br>
        <br>
        <br>

        
        {% for video in all_videos %}

                <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/{{video.video_url}}" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            <br>
            <br>
        {% endfor %}

        <br>
        <br>
        <br>
        <br>

       
        
        <form id = 'validate_user_input_form' method = 'POST' action = '/quest/validate_user_input/{{ldap}}/{{current_quest.id}}'>
        {% csrf_token %}

        {% for question, answers, correct_answers in format_2 %}
            <div class='question'>
                <p>{{ question.question_text }}</p>

            </div>
                {% if question.question_type ==  'FR' %}


                    {% if question.id not in have_correct_answer %}
                         <!-- <form method = "POST" id = 'form_{{question.id}}' onsubmit = "return validate_fr_answer('{{question.id}}')" action = '/quest/validate_fr_question_response/{{ldap}}/{{current_quest.id}}'> -->
                            <!-- {% csrf_token %} -->
                            Answer: <input form = 'validate_user_input_form' type = 'text' id = 'input_{{question.id}}' name = 'answer_{{question.id}}'>
                             <button type= 'submit' onclick = 'return validate_fr_answer("{{question.id}}")' name='FR_response_id' value = '{{ question.id }}'>Check Answer!</button>
                        <!-- </form> -->
                        <br>

                        <p id = 'wrong_{{question.id}}' style = "display: none; color: red"> Sorry that's wrong, please try again! </p>
                        <p id = 'correct_{{question.id}}' style = "display: none; color: green"> You are correct! </p>

                        
                    {%for message in messages %}
                            {%if question.id|slugify in message.tags %}
                            <p class="{{ message.tags }}"> {{message}} </p>   
                        {%endif%}
                    {%endfor%}

                    {% endif %}



                    {% if question.id in have_correct_answer %}
                    <div class= 'correct_answer_was_chosen'>
                        Answer: 
                        {% for answer in correct_answers %} 
                            {{ answer.answer_text }}
                        {% endfor %}
                    </div>

                    {%for message in messages %}
                            {%if question.id|slugify in message.tags %}
                            <p class="{{ message.tags }}"> {{message}} </p>   
                        {%endif%}
                    {%endfor%}
                    {% endif %}
                    

                {% endif %}

                {% if question.question_type == 'MC' %}
                     {% if question.id not in have_correct_answer %}

                        {% for a in answers %}
                            <input form = 'validate_user_input_form' type="checkbox" class= "input_{{question.id}}" name= "answer_{{question.id}}" value="{{ a.answer_text }}">{{ a.answer_text }}<br>
                        {% endfor %}

                        <br>
                        <button type= 'submit' onclick ="return validate_mc_answer('{{question.id}}')" name= 'MC_response_id' value= '{{ question.id }}'>Check Answer!</button>
                        <br>
                        <p id = 'wrong_{{question.id}}' style = "display: none; color: red"> Sorry that's wrong, please try again! </p>
                        <p id = 'correct_{{question.id}}' style = "display: none; color: green"> You are correct! </p>
                        
                        {%for message in messages %}
                            {%if question.id|slugify in message.tags %}
                            <p class="{{ message.tags }}"> {{message}} </p>   
                        {%endif%}
                    {%endfor%}
                        
                    {% endif %}
                    
                        
                    {% if question.id in have_correct_answer %}
                        <div class= 'correct_answer_was_chosen' >
                            Answer: 
                            {% for answer in correct_answers %} 
                                {{ answer.answer_text }}
                            {% endfor %}
                        </div>

                        {%for message in messages %}
                            {%if question.id|slugify in message.tags %}
                            <p class="{{ message.tags }}"> {{message}} </p>   
                        {%endif%}
                    {%endfor%}

                    {% endif %}
    
                {% endif %}


            {% if question.question_type == 'API' %}
                {% if question.id not in have_correct_answer %}
                    <input name = 'answer_{{question.id}}' type = checkbox value = 'completed_task'> Completed Task! </button>

                    {%for message in messages %}
                        {%if question.id|slugify in message.tags %}
                            <p class="{{ message.tags }}"> {{message}} </p>   
                        {%endif%}
                    {%endfor%}
                {% endif %}

                {% if question.id in have_correct_answer %}
                    <div class= 'correct_answer_was_chosen'>
                        You completed this!
                    </div>
                {% endif %}

            {% endif %}


            <br>
            <br>
            <br>
            <br>
        {% endfor %}

    <button type = 'submit'> Save Answers </button>
    </form>
    <br>
    <br>
        <form id='home' action = '/quest/user_home/{{ ldap }}/{{current_project_id}}' method='GET'></form>
        
        <button form = 'home' type = submit>Home</button>
    </div>
    </body>
</html>