{% load static %}
<!DOCTYPE html>
<html>
<head>

   
    
    
    <title> User Settings/Info </title>
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/settings_info/user_settings_info_style.css' %}">
    <script src="{% static 'quest_extension/settings_info/user_settings_info_js.js' %}"></script>  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

</head>


<body>

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>{{message}}</span>
        </div>
    {% endfor %}



    <div id = 'low' class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>Please include a lowercase letter</span>
    </div>

    <div id = 'up' class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>Please include an uppercase letter</span>
    </div>

    <div id = 'num' class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>Please include a number</span>
    </div>

    <div id = 'char' class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>Please make sure that your password is at least 8 characters long</span>
    </div>

    <div id = 'same' class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>Please make sure that your passwords match</span>
    </div>

    <div id = 'email' class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>Please make sure that your email is valid</span>
    </div>


    


    <div class="container-fluid">
			<div class="container">
                <h2 class="text-center" id="title" style = 'color: #42bcf4;'>
                {{current_user.user_first_name}}'s User Settings
                </h2>
				 <hr>
				<div class="row">
				<div class="col-md-5 col-centered">
                        <p><strong>LDAP:</strong> {{current_user.user_ldap}}</p>
                        <button id = 'update_ldap_button' class='btn' style = 'background-color: #42bcf4; color:white' onclick="update('ldap')"> Update LDAP</button>
                        <form id = 'update_ldap_form' method='POST' action= '/quest/update_user_ldap/{{current_user.user_ldap}}'>
                            {% csrf_token %}
                            <input class = 'form-control' type='text' name = 'user_ldap' value = '{{current_user.user_ldap}}'>
                            <button class = 'btn btn-success' type = 'submit' style = 'margin-top:15px;'> Confirm Update </button>
                        </form>
                    
                        <p style = 'margin-top: 30px'> <strong>First Name:</strong>  {{current_user.user_first_name }} </p>
                        <button id = 'update_first_name_button' class='btn' style = 'background-color: #42bcf4; color:white' onclick="update('first_name')"> Update First Name</button>
                        <form id = 'update_first_name_form' method='POST' action= '/quest/update_user_first_name/{{current_user.user_ldap}}'>
                            {% csrf_token %}
                            <input class = 'form-control' type='text' name = 'user_first_name' value = '{{current_user.user_first_name}}'>
                            <button class = 'btn btn-success' type = 'submit' style = 'margin-top:15px;'> Confirm Update </button>
                        </form>
                    
                        <p style = 'margin-top: 30px'> <strong>Last Name:</strong> {{current_user.user_last_name}} </p>
                        <button id = 'update_last_name_button' class='btn' style = 'background-color: #42bcf4; color:white' onclick="update('last_name')"> Update Last Name</button>
                        <form id = 'update_last_name_form' method='POST' action= '/quest/update_user_last_name/{{current_user.user_ldap}}'>
                            {% csrf_token %}
                            <input class = 'form-control' type='text' name = 'user_last_name' value = '{{current_user.user_last_name}}'>
                            <button class = 'btn btn-success' type = 'submit' style = 'margin-top:15px;'> Confirm Update </button>
                        </form>
                    
                        <p style = 'margin-top: 30px'> <strong>Email Address:</strong> </h3> {{current_user.user_email}} </p>
                        <button id = 'update_email_button' class='btn' style = 'background-color: #42bcf4; color:white' onclick="update('email')"> Update Email</button>
                        <form  id = 'update_email_form' onsubmit = 'return validate_email();' method='POST' action= '/quest/update_user_email/{{current_user.user_ldap}}'>
                            {% csrf_token %}
                            <input class = 'form-control' id = 'account_email' type='text' name = 'user_email' value = '{{current_user.user_email}}'>
                            <button class = 'btn btn-success' type = 'submit' style = 'margin-top:15px;'> Confirm Update </button>
                        </form>
                     
                        <br>
                        <br>
                    
                    
                        <button id = 'update_password_button' class='btn' style = 'background-color: #42bcf4; color:white' onclick="update('password')"> Update Password</button>
                    
                        <form onsubmit = 'return validate_password();' id = 'update_password_form' method='POST' action= '/quest/update_user_password/{{current_user.user_ldap}}'>
                            {% csrf_token %}
                            <label> Current Password:</label>
                            <input class = 'form-control' type='password' name = 'current_password'  autocomplete="new-password" >
                            
                            <label> New Password: </label>
                            <input class = 'form-control' id = 'password' type='password' name = 'new_password' autocomplete="new-password">
                        
                            <label> Retype New Password: </label>
                            <input class = 'form-control' id = 'retyped_password' type='password' name = 'retyped_password' autocomplete= "new-password" >
                    
                            <button class = 'btn btn-success' type = 'submit' style = 'margin-top:15px;'> Confirm Update </button>
                        </form>
                        
                        <form method = 'GET' style = 'margin-top: 5%' action = '/quest/user_project_page/{{current_user.user_ldap}}'>
                            <button class = 'btn btn-link' style = 'padding:0'id = 'back_button' type='submit'> Back </button> 
                        </form>
				</div>

			<br>
			<br>
            
			</div>
		</div>
    </div>
    
  

    
    
    

    
</body>
</html>

