{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/user_home_style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
    function show_plain_button_instead(quest_id){

        document.getElementById('image_submit_' + quest_id).style.display = 'none'
        document.getElementById('button_submit_'+ quest_id).style.display = 'inline'
    }

    function canMoveForward(quest_path_clicked){
        var current_quest_num = "{{ current_user_project_object.current_quest.quest_path_number }}";
        return (current_quest_num >= parseInt(quest_path_clicked));
        
    }
    
    </script>

</head>



<body style>

<div class="container-fluid" >
<div class = 'row content'>

    <div class="col-sm-4 sidenav">

        <div id = 'constant_top_left'>
            <img src="https://i.imgur.com/1533RUp.png">

            <div id = 'project_name' ><h4>{{current_project.project_name}}</h4>
                <p id = 't_d_experiment'><small>A Tushar Desai Experiment </small></p>
            </div>
        </div>


            {% if current_project.project_has_teams %}
            <br>
            <br>
            {% for team_data in all_teams_and_points.items %}
            <p><strong>{{ team_data.0 }}</strong> </p>
            <!-- {{team_data.1.0}} / {{team_data.1.1}} -->

            <div class="progress" style="height:40px; margin-bottom: 0px; margin-top: 10px">
                <div class="progress-bar progress-bar-striped progress-bar-info" role = 'progressbar'style="width:{{team_data.1.2}}%; font-size: 14px; line-height:40px; text-align: left;">
                    {% if team_data.1.0 > 0 %} 
                    <strong style = 'margin-left: 10px;'> {{team_data.1.2}}%</strong> <span style = 'font-size: 10px'>({{team_data.1.0}} points) </span>
                    {% endif %}
                </div>
            </div> 
            <br>


            <!-- team_data.0 = team name -->
            <!-- team_data.1.0 = accumulated points by users on this team -->
            <!-- team.data.1.1 = total possible points that can be earned by this team if everyone has 100% completion -->

            {% endfor %}
            {% endif %}

            <h4 style="margin-top:25px;">Recent Points Awarded</h4>

            {% for record in recently_awarded_points %}

            <!-- Record syntax = (+points team_name, user_name, quest_name) -->
            <h5>
                <span class="label label-success" >{{record.0}} </span>
                <strong> &nbsp; {{ record.1 }}</strong> passed the <strong>{{record.2}}</strong> quest!
            </h5>
            {% endfor %}

            <h4 style="margin-top:25px;">Individual Leaderboard</h4>

            {% for record in leaderboard %}

            <h5>
                <!-- I made this first Record = None if there are no teams in the project -->
            {% if record.0 != None %}
                <span class="label label-danger" >{{record.0}}</span>
                <strong> &nbsp; {{ record.1 }}</strong>  ({{record.2}} points)

            {% else %}
                <span class="label label-danger" >{{record.1}}</span>
                ({{record.2}} points)
            {% endif %}
            </h5>
            {% endfor %}
            <br>
            
    </div>
        
    <div class="col-sm-8" style = 'margin-bottom: 500px'>

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <span>{{message}}</span>
        </div>
    {% endfor %}


    <form style = 'float:right' method = 'GET' action = '/quest/user_project_settings/{{ user.user_ldap }}/{{ current_project.id }}'>
        
        <button class = 'btn' style = 'margin:10px' type = 'submit' > Project Settings</button>

    </form>

    


        <h1>{{ current_project.project_name}}</h1>
        <hr>
        <!-- these two <br>s are here to make the admin home page most closely replicate that of the user home page -->

    <div class='container'>
            <div id='my-text-area'>
                {{ current_project.project_description|safe }} 
             </div>
        </div>

    <!--format = teamname -> (current points earned by team, total points that can be earned by team)-->
  
    <br>
    <p>Welcome <strong>{{ user.user_first_name }}</strong> to <strong>{{current_project.project_name}}</strong>!</p>
    <!-- If you are a part of a team... -->
    {% if current_user_project_team != None %}
        <p>Your are on the team <strong style = 'color: #42bcf4'>{{current_user_project_team.team_name}}</strong>!</p>
    {% endif %}
    <p>You have <strong style = 'color:#5cb85c'>{{ current_user_project_object.points }} points!</strong></p>
         

    <div style="float:left;margin-top:25px; width:100%; ">
            <h4><small>YOUR QUESTS</small></h4>
      <hr>
      </div>
      
    {% for quest in quests %}
    <div class= "hover13 imgContainer" style = 'display: inline-block; padding:10px'>
        <form method='GET' onsubmit='return canMoveForward( "{{quest.quest_path_number }}" );'  action='/quest/user_quest_page/{{user.user_ldap}}/{{quest.id}}'>
        
        <button id = 'image_submit_{{quest.id}}' type='submit'>
            <div id = 'image_cropper'>
                <img id = 'cropped_image' src="{{quest.quest_picture_url}}" onerror = "show_plain_button_instead('{{quest.id}}')" />
                
                {% if current_user_project_object.current_quest.quest_path_number > quest.quest_path_number or current_user_project_object.completed_project == True %}
                <img id="q0" class="inlay" src="https://i.imgur.com/dwnpzfw.png" style="display: block;">
                {% endif %}

            </div> 
            {{quest.quest_name}} ({{quest.quest_path_number}})
        </button>


        <!-- This is what is shown if there is no picture associated with a quest -->
        <div id = 'button_submit_{{quest.id}}'>
            <button >
                {{quest.quest_name}} ({{quest.quest_path_number}})
            </button>
            <!-- Add an icon if you have completed a quest -->
            {% if current_user_project_object.current_quest.quest_path_number > quest.quest_path_number or current_user_project_object.completed_project == True %}
                &#10004;
            {% endif %}
        </div>



        </form>
    </div>
    {% endfor %}

    
    <br>
    <br>
    <br>
    <a href = '/quest/user_project_page/{{user.user_ldap}}'>Back to Project Page</a>
    
    </div>
    </div>
    </div>  

    <footer class = 'contianer-fluid'>
   
    </footer>



<!-- Script that will automatically make the sidebar and main content height the same -->
    <script>
        var height_of_main = $('.col-sm-8').outerHeight(true)
        var height_of_side_bar = $('.col-sm-4.sidenav').outerHeight(true)

        console.log(height_of_main)
        console.log(height_of_side_bar)

        if (height_of_main > height_of_side_bar) {
            $('.col-sm-4.sidenav').height(height_of_main)
        }

        else {
            $('.col-sm-8').height(height_of_side_bar)
            
            $('.col-sm-8').css('margin-bottom', '0px');


            }
        console.log($('.col-sm-8').outerHeight(true))
        console.log([$('.col-sm-4.sidenav').height(), $('.col-sm-8').height()] )



            </script>
    </body>
    
</html>
