{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta name="I am Here">

    
    <head>
	<title>Quest home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/admin_home_style.css' %}">

    </head>

    <body>
	<h1>Project Title</h1>

	<p>Welcome {{ user.user_first_name }} to the Quests!</p>
	<p>You have {{ user.user_points }} points!</p>
         

    {% for quest in quests %}
    <br>
    <form method='GET' action='/quest/user_quest_page/{{ user.user_ldap }}/{{quest.quest_name}}'>
        <button type='submit'>{{quest.quest_name}}</button>
        <!-- <button type='submit' name = admin_quest_page value = {{quest.quest_name}}>{{quest.quest_name}}</button> -->
    </form>


    {% endfor %}

    

	
    </body>
    
</html>
