{% extends 'quest_extension/forgot_password_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block welcome %}
<h2 class="text-center" id="title" style = 'color: #42bcf4;'>
        Forgot User Account Password
            
    </h2>
{% endblock %}

{% block stylesheet_js %}
    <link rel= "stylesheet" type="text/css" href="{% static 'quest_extension/forgot_password/user_forgot_password_style.css' %}">
{% endblock %}


{% block new_password_sent %}
    <form onsubmit = "return validate_password()" method = 'POST' action = '/quest/new_password_sent/{{ldap}}'>
        {% csrf_token %}
        {{ forgot_password_form | crispy}}
        <button class = 'btn btn-success' type='submit'>Submit</button>
    </form>  
{% endblock %}

{% block resend_pin %}
    <form method = 'POST' action=/quest/user_change_password_request>
        {% csrf_token %}
        <button class = 'btn btn-warning' style = 'color:white; line-height: 15px' type='submit' name = ldap value = {{ldap}}> Resend a reset pin </button>
    </form>
{% endblock %}


{% block back %}
<form method = 'POST' action = '/quest/go_back_to_login/{{ldap}}'>
    {% csrf_token %}
    <button class = 'btn btn-link' style = 'padding:0px' type='submit'> Back </button>
</form>
{% endblock %}
   
