{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
	<title>Project home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'quest_extension/user_project_page_style.css' %}">

    </head>
    
    <body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method='GET' action = '/quest/user_settings_info/{{current_user.user_ldap}}'>
        <button type='submit'>User's Settings/Info</button>
    </form>

    <div id = 'centered'>
        <h1>All Projects!</h1>

        <p>Welcome {{ current_user.user_first_name }} to the different Projects!</p>
            
        <h3> My Projects </h3>

        {% for project in user_projects %}
        
            <form method='GET', action = '/quest/user_home/{{ current_user.user_ldap }}/{{ project.id }}'>
                <div id= 'project_button'>
                    <button type='submit'>{{project.project_name}}</button>
                </div>
            </form>
            <br>
            
        {% endfor %}
        
        <br>
        <br>

        <form method = 'POST' action = '/quest/user_unarchive_project/{{current_user.user_ldap}}'>
            {% csrf_token %}
            Unarchive a previous project:
    
            <select name="project_to_unarchive_id">
                {% for project in list_of_archived_projects %}
                    <option value="{{project.id}}"> {{project.project_name}} </option>
                {% endfor %}
            </select>
            <button type = 'submit'> Submit </button>
        </form>

        <br>

        <p> Want to Join Another Project? Type in the Random Phrase for the project, your team name if 
            there is one, click add, 
            and your in!
        </p>


        <form id = 'add_new_project' method='POST' action = '/quest/add_user_project_page/{{ current_user.user_ldap }}'>
            {% csrf_token %}
            {{ add_new_project_form }}
            Team: <input type = 'text', name = 'team'>
            <button type ='submit' name = 'project_id' value = '{{project.id}}'>Add</button>

        </form>

        <br>
        
        <div id= 'logout'>
        <form method='POST' action = '/quest/user_logout/{{ current_user.user_ldap}}'>
                {% csrf_token%}
                <button type = 'submit', name = 'logout'>Logout</button>
            </form>
        </div>
    </div>

	
    </body>
    
</html>
