{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'quest_extension/user_login_style.css' %}">
    <Title> Login </Title>
</head>

<body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <br>
        <br>
        <br>

    <div id= container>
        <form method='POST' action ='/quest/user_login_to_account'>
            {% csrf_token %}
            {{ login_form }}
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>