.not_in_container {
    text-align: center;
}

.container {
    padding-top: 3%;
    text-align: center;
    width: 100%;

}

#my-text-area {
    display: inline-block;
    width: 700px;
}

#edit-container {
    text-align: center;
    display: none;
  }
  
#edit-my-text-area{
  
display: inline-block;
  
}

textarea {
  
    width: 700px;
    height: 300px;
    }

#edit_description_button{
    text-align: center;

}