* :not(body){
  text-align: center;
}

h1 {
  padding-top: 3%;
  text-decoration: underline;
  color: black; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}

#container {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

#the-container {
    position: relative;
    transform: translateX(40%);
    display: flex, bottom;
}

#my-text-area {
    position: relative;
    
}

textarea {
    
    width: 400px; 
    height: 200px;
}


