

.not_the_container {
    text-align: center;
  }
  
  h1 {
    padding-top: 3%;
    text-decoration: underline;
    color: black; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
  }
  
  
  #container {
    text-align: center;
  }
  
  #my-text-area{
  
    display: inline-block;
    
  
  }
  
  textarea {
  
  width: 700px;
  height: 300px;
  }