.centered {
    text-align: center;
}

.block1, .block2, .block3, .block4, .block4, .block5, .block6, .block7, .block8 {
    display: inline-block;
    text-align: center;
    padding: 10px;
    
}


.container {
    width: 100%;
    text-align: center;

}



/* Message classes */
.success {
	color: lightgreen;
}

.warning {
	color: orange;
}

.error {
	color: red;
}