.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.text1 {
  font-size: 44px;
}







/* Message classes */
.success {
	color: lightgreen;
}

.warning {
	color: orange;
}

.error {
	color: red;
}



