* {
    text-align: center;
}



#archive_project_button {
    color: white;
    background-color: rgb(221, 221, 18);
    padding: 15px 32px;

}

#remove_project_button {
    color: white;
    background-color: red; 
    padding: 15px 32px;
}


