/* Message classes */
.success {
    color: lightgreen;
}

.warning {
    color: orange;
}

.error {
    color: red;
}

 /* Password Warnings */
 #low, #up, #num, #char, #same {
    display: None;
    color: red;

  }