
.block1, .block2, .block3, .block4, .block4, .block5, .block6, .block7, .block8 {
    display: inline-block;
    text-align: center;
    padding: 10px;
}


form[id^="search"]{
    display: none;
}



body {background-color:#eee;}
.container-fluid {padding:50px;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', cursive;;}

.col-centered{
  float: none;
  margin: 0 auto;
  }

  .row button[type^="submit"]{
        margin-top: 15px; 
  }
