


#update_random_phrase_form, #update_admin_pin_form, #update_add_team_form, #update_delete_team_form
{

    display: none;
}


body {background-color:#eee;}
.container-fluid {padding:50px;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', cursive;;}

.col-centered{
  float: none;
  margin: 0 auto;
  }


  #remove_as_admin {
    color: white;
    background-color: rgb(255,204,0);
    padding: 15px 32px;

}

#delete_project_button {
    color: white;
    background-color: rgb(204, 51, 0); 
    padding: 15px 32px;
}

#remove_all_users_button {
    color: white;
    background-color: rgb(255,153,102);
    padding: 15px 32px; 
    

}
 