.centered {
    text-align: center;
}

.container {
    padding-top: 3%;
    text-align: center;
    width: 100%;

}

#my-text-area {
    display: inline-block;
    width: 700px;
}

#edit_description_container {
    text-align: center;
    display: none;
  }
  
#edit-my-text-area{
  
display: inline-block;
  
}

textarea {
  
    width: 700px;
    height: 300px;
    }

#edit_description_button{
    text-align: center;

}

#edit_name_container {
    display: none;
}

#new_quest {
    display: none;
}

/* Message classes */
.success {
    color: lightgreen;
}

.warning {
    color: orange;
}

.error {
    color: red;
}